vendor
composer.lock
node_modules
build
.pint.cache
.idea
.DS_Store
.env
*.log
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tests/coverage
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
/--cache-directory
.cursor
coverage

